
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포트폴리오 사이트 만들기 프로젝트 😳</title>

    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/webs.css">

    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../assets/ico/favicon.png">
    <link rel="icon" href="../../assets/ico/favicon.png">
    <link rel="icon" href="../../assets/ico/favicon.png" sizes="48x48">
    <link rel="icon" href="../../assets/ico/favicon.png" sizes="64x64">
    <link rel="icon" href="../../assets/ico/favicon.png" sizes="128x128">

    <meta name="acthor" content="웹스토리보이">
    <meta name="description" content="한가지 사이트를 다양한 프레임워크를 통해 만들어 보는 포트폴리오 사이트입니다.">
    <meta name="keywords" content="포트폴리오, portfolio, 리액트, react.js, 뷰, vue.js, 넥스트, next.js, 웹스토리보이, webstoryboy">
    <meta name="robots" content="all">
</head>
<body>

    <div id="skip">
        <a href="#header">헤더 영역 바로가기</a>
        <a href="#main">컨텐츠 영역 바로가기</a>
        <a href="#footer">푸터 영역 바로가기</a>
    </div>
    <!-- //skip -->

    <header id="header">
        <div class="header__inner">
            <div class="left"> 
                <a href="../index.html" class="star"><span class="ir">메인으로</span></a>
            </div>
            <h1>
                <a href="../index.html">WEBSTORYBOY</a>
            </h1>
            <div class="right">
                <ul>
                    <li><a href="#">검색</a></li>
                </ul>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#"><span>레퍼런스</span></a></li>
                    <li><a href="#"><span>튜토리얼</span></a></li>
                    <li><a href="#"><span>게시판</span></a></li>
                    <li><a href="#"><span>블로그</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- //header -->

    <main id="main">
        <section id="blog" class="nanumSquareNeo">
            <div class="blog__title">
                <span class="cate">Tutorial/portfolio</span>
                <h1 class="title">포트폴리오 사이트 만들기 - Vue</h1>
                <div class="meta">
                    <span class="author">by @webs</span>
                    <span class="date">2023. 08. 01.</span>
                </div>
            </div>
            <div class="blog__inner container">
                <div id="youtube" class="blog__contents__intro">
                    <div class="desc">
                        <div class="left">
                            <span class="num">03</span>
                            <div class="title">포트폴리오 사이트 만들기 : 헤더 영역</div>
                            <span class="difficulty">난이도 <span>중간</span></span>
                        </div>
                        <div class="right">
                            <div class="btn">소스 다운로드</div>
                            <a href="https://port2023-vue.netlify.app" target="_blank" class="sampleBtn">완성 화면</a>
                            <a href="https://github.com/webstoryboy/port2023-vue" target="_blank" class="sampleBtn">완성 코드</a>
                            <a href="https://www.youtube.com/webstoryboy" target="_blank" class="sampleBtn">유튜브</a>
                        </div>
                    </div>
                </div>
                <!-- //blog__contents__intro -->

                <div class="blog__contents tutorial">
                    <h2>소개</h2>
                    <p>
                        안녕하세요! 웹스토리보이입니다.
                        이제 기본 셋팅도 완료가 됐으니, 컴퍼넌트를 하니씩 완성해 나가겠습니다. 
                        방법은 기존과 동일하니, 반복 연습한다고 생각하시면 됩니다.
                    </p>

                    <h3>포트폴리오 사이트 만들기</h3>
                    <div class="index2">
                        <div>
                            <h4>VITE SITE</h4>
                            <ul>
                                <li>1. 셋팅하기
                                    <ul>
                                        <li>1_1. vite 설치하기</li>
                                        <li>1_2. vite 폴더 정리하기</li>
                                        <li>1_3. gsap/lenis 설치하기</li>
                                        <li>1_4. git 연동하기</li>
                                    </ul>
                                </li>
                                <li>2. 레이아웃
                                    <ul>
                                        <li>2.1 레이아웃 구조 만들기</li>
                                        <li>2.2 메인 레이아웃 구조 만들기</li>
                                        <li>2.3 CSS 셋팅하기</li>
                                        <li>2.4 JavaScript 셋팅하기</li>
                                    </ul>
                                </li>
                                <li>3. 헤더 영역
                                    <ul>
                                        <li>3.1 헤더 구조 잡기</li>
                                        <li>3.2 헤더 디자인 설정</li>
                                        <li>3.3 반응형 작업하기</li>
                                        <li>3.4 메뉴 자바스크립트 설정</li>
                                    </ul>
                                </li>
                                <li>4. 인트로 영역
                                    <ul>
                                        <li>4.1 인트로 구조 잡기</li>
                                        <li>4.2 인트로 디자인 설정</li>
                                        <li>4.3 반응형 작업하기</li>
                                    </ul>
                                </li>
                                <li>5. 스킬 영역
                                    <ul>
                                        <li>5.1 스킬 구조 잡기</li>
                                        <li>5.2 스킬 디자인 설정</li>
                                        <li>5.3 반응형 작업하기</li>
                                    </ul>
                                </li>
                                <li>6. 사이트 영역
                                    <ul>
                                        <li>6.1 사이트 구조 잡기</li>
                                        <li>6.2 사이트 디자인 설정</li>
                                        <li>6.3 반응형 작업하기</li>
                                    </ul>
                                </li>
                                <li>7. 포트폴리오 영역
                                    <ul>
                                        <li>7.1 사이트 구조 잡기</li>
                                        <li>7.2 사이트 디자인 설정</li>
                                        <li>7.3 반응형 작업하기</li>
                                        <li>7.4 스크립트 작업하기</li>
                                    </ul>
                                </li>
                                <li>8. 연락처 영역
                                    <ul>
                                        <li>8.1 연락처 구조 잡기</li>
                                        <li>8.2 연락처 디자인 설정</li>
                                        <li>8.3 반응형 작업하기</li>
                                    </ul>
                                </li>
                                <li>9. 푸터 영역
                                    <ul>
                                        <li>9.1 푸터 구조 잡기</li>
                                        <li>9.2 푸터 디자인 설정</li>
                                        <li>9.3 반응형 작업하기</li>
                                    </ul>
                                </li>
                                <li>10. 마무리
                                    <ul>
                                        <li>10.1 스무스 효과주기</li>
                                        <li>10.2 링크 연결하기</li>
                                        <li>10.3 netlify에 배포하기</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h4>REACT SITE</h4>
                            <ul>
                                <li>1. 셋팅하기
                                    <ul>
                                        <li>1_1. React 설치하기</li>
                                        <li>1_2. React 폴더 정리하기</li>
                                        <li>1_3. 라이브러리 설치하기</li>
                                        <li>1_4. git 연동하기</li>
                                    </ul>
                                </li>
                                <li>2. 라우팅 및 컴퍼넌트
                                    <ul>
                                        <li>2_1. 라우팅 설정하기</li>
                                        <li>2_2. 컴퍼넌트 설정하기</li>
                                        <li>2_3. SCSS 설정하기</li>
                                    </ul>
                                </li>
                                <li>3. 헤더 영역
                                    <ul>
                                        <li>3_1. 헤더 구조잡기</li>
                                        <li>3_2. 헤더 디자인 설정</li>
                                        <li>3_3. 헤더 데이터 작업</li>
                                        <li>3_4. 헤더 토글 메뉴 작업하기</li>
                                    </ul>
                                </li>
                                <li>4. 인트로 영역
                                    <ul>
                                        <li>4_1. 인트로 구조잡기</li>
                                        <li>4_2. 인트로 디자인 설정</li>
                                        <li>4_3. 인트로 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>5. 스킬 영역
                                    <ul>
                                        <li>5_1. 스킬 구조잡기</li>
                                        <li>5_2. 스킬 디자인 설정</li>
                                        <li>5_3. 스킬 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>6. 사이트 영역
                                    <ul>
                                        <li>6_1. 사이트 구조잡기</li>
                                        <li>6_2. 사이트 디자인 설정</li>
                                        <li>6_3. 사이트 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>7. 포트폴리오 영역
                                    <ul>
                                        <li>7_1. 포트폴리오 구조잡기</li>
                                        <li>7_2. 포트폴리오 디자인 설정</li>
                                        <li>7_3. 포트폴리오 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>8. 연락처 영역
                                    <ul>
                                        <li>8_1. 연락처 구조잡기</li>
                                        <li>8_2. 연락처 디자인 설정</li>
                                        <li>8_3. 연락처 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>9. 푸터 영역
                                    <ul>
                                        <li>9_1. 푸터 구조잡기</li>
                                        <li>9_2. 푸터 디자인 설정</li>
                                        <li>9_3. 푸터 데이터 작업</li>
                                    </ul>
                                </li>
                                <li>10. 마무리
                                    <ul>
                                        <li>10_1. 데이터 통합하기</li>
                                        <li>10_2. 스무스 효과 넣어주기</li>
                                        <li>10_3. 가로모드 구현하기</li>
                                        <li>10_4. netlify에 배포하기</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h4>VUE SITE</h4>
                            <ul>
                                <li>1. 셋팅하기
                                    <ul>
                                        <li>1_1. Vue 설치하기</li>
                                        <li>1_2. Vue 폴더 정리하기</li>
                                        <li>1_3. 라이브러리 설치하기</li>
                                        <li>1_4. git 연동하기</li>
                                    </ul>
                                </li>
                                <li>2. 라우팅 및 컴퍼넌트
                                    <ul>
                                        <li>2_1. 라우팅 설정하기</li>
                                        <li>2_2. 컴퍼넌트 설정하기</li>
                                        <li>2_3. SCSS 설정하기</li>
                                    </ul>
                                </li>
                                <li>3. 헤더 영역
                                    <ul>
                                        <li>3_1. 헤더 구조잡기</li>
                                        <li>3_2. 헤더 디자인 설정</li>
                                        <li>3_3. 헤더 데이터 작업</li>
                                        <li>3_4. 헤더 토글 메뉴 작업하기</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //index -->

                    <h3>3. 헤더 영역</h3>
                    <div id="v31">
                        <h4>3_1. 헤더 구조잡기</h4>
                        <div class="sampleBasic">
                            <p>
                                Vue.js의 기본 컴포넌트 구조는 Single File Component(SFC)라고도 알려진 방식으로 작성됩니다. 
                                이는 <code>.vue</code> 확장자를 가진 하나의 파일에 컴포넌트의 <i>코드, 템플릿, 스타일</i>을 모두 작성하는 방식입니다. 
                                이렇게 하면 컴포넌트의 관련 코드가 한 곳에 모이므로 가독성과 유지보수가 향상됩니다.
                            </p>
                            <ul class="list">
                                <li>&lt;template&gt; : HTML 템플릿을 정의하는 섹션입니다. Vue 컴포넌트는 템플릿을 사용하여 렌더링할 내용을 기술합니다. Vue 템플릿은 Vue 인스턴스의 데이터를 바인딩하고, 디렉티브를 사용하여 동적인 콘텐츠를 조작하며, 이벤트를 처리하는 등의 기능을 제공합니다.</li>
                                <li>&lt;script&gt; : JavaScript 코드를 정의하는 섹션입니다. Vue 컴포넌트의 동작과 데이터를 정의합니다. 일반적으로 data, computed, methods, watch 등의 속성을 사용하여 컴포넌트의 상태와 동작을 설정합니다. Vue 컴포넌트에서 외부 모듈을 가져오거나 다른 컴포넌트를 사용하기 위해 import 문이나 components 속성을 이용할 수 있습니다.</li>
                                <li>&lt;style&gt; : 컴포넌트에 대한 스타일을 정의하는 섹션입니다. 이곳에 작성된 스타일은 해당 컴포넌트의 요소에만 적용됩니다. Vue 컴포넌트에서는 다양한 방법으로 스타일을 작성할 수 있습니다. 기본적으로는 CSS를 사용할 수 있지만, scoped 속성을 추가하면 해당 컴포넌트의 스타일만 적용되도록 지정할 수 있습니다.</li>
                            </ul>
                        </div>

<pre><code class="language-html">&lt;template&gt;
    HTML 템플릿을 정의하는 섹션
&lt;/template&gt;
&lt;script&gt;
    JavaScript 코드를 정의하는 섹션
&lt;/script&gt;
&lt;style&gt;
    스타일을 정의하는 섹션
&lt;/style&gt;
</code></pre>
                        <p>
                            vite에서 작업했던 소스를 그대로 가져와서 사용하겠습니다.
                        </p>
<pre><code class="language-html">&lt;template&gt;
    &lt;header id="header" role="heading"&gt;
        &lt;div class="header__inner"&gt;
            &lt;div class="header__logo"&gt;
                &lt;a href="#"&gt;portfolio&lt;em&gt;vue.js&lt;/em&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;nav class="header__nav" role="navigation" aria-label="메인 메뉴"&gt;
                &lt;ul&gt;
                    &lt;li&gt;&lt;a href="#intro"&gt;intro&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#skill"&gt;skill&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#site"&gt;site&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#port"&gt;portfolio&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#contact"&gt;contact&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/nav&gt;
            &lt;div class="header__nav__mobile" id="headerToggle" aria-controls="primary-menu" aria-expanded="false" role="button" tabindex="0"&gt;
                &lt;span&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/header&gt;
&lt;/template&gt;
</code></pre>
                    </div>

                    <div id="v32" class="mt80">
                        <h4>3_2. 헤더 디자인 설정</h4>
                        <p>
                            SCSS 소스는 리액트에서 했던 것을 그대로 가져와서 사용하겠습니다.
                        </p>
<pre><code class="language-css">&lt;style lang="scss" scoped&gt;
@import "@/assets/scss/_mixin.scss";

#header {
    @include position-fixed;
    z-index: 10000;
}

.header__inner {
    @include flex-between;
    padding: 1rem;
    background: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);

    .header__logo {
        font-size: 1.625rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;

        em {
            display: block;
            font-size: 10px;
            color: var(--black200);
        }
    }

    .header__nav {
        li {
            display: inline-block;
            a {
                text-transform: uppercase;
                font-size: 14px;
                padding: 14px;
                position: relative;

                &::before {
                    content: "";
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0);
                    transition: all 0.3s;
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
        @media (max-width: 800px) {
            display: none;

            &.show {
                display: block;

                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background: rgba(116, 99, 99, 0.1);
                    backdrop-filter: blur(15px);
                    z-index: 10000;

                    li {
                        display: block;
                        text-align: right;
                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        }
    }

    .header__nav__mobile {
        width: 40px;
        height: 40px;
        @include flex-center;
        cursor: pointer;
        display: none;

        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            position: relative;
            margin-top: 19px;

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }

            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }

        @media (max-width: 800px) {
            display: block;
        }
    }
}
&lt;/style&gt;
</code></pre>
                    </div>

                    <div id="v33" class="mt80">
                        <h4>3_3. 헤더 데이터 작업</h4>
                        <p>
                            뷰에서 데이터를 따로 작업하는 이유는 코드를 더 구조적이고 관리하기 쉽게 만들기 위해서입니다. 
                            데이터를 따로 작업하여 관리함으로써 코드의 가독성과 유지보수성을 향상시킬 수 있습니다.
                            규모가 작은 사이트를 라면 불편할 수도 있는 작업이지만 규모가 커질 수록 관리하기가 쉬어집니다. 
                            <code>constants</code> 폴더에 <code>index.js</code>에 작업을 하겠습니다. 
                            이 부분은 자바스크립트 모듈 기능이기 때문에 리액트랑 동일합니다.
                        </p>
<pre><code class="language-js">export const headerNav = [
    {
        title: "intro",
        url: "#intro",
    },
    {
        title: "skill",
        url: "#skill",
    },
    {
        title: "site",
        url: "#site",
    },
    {
        title: "portfolio",
        url: "#port",
    },
    {
        title: "contact",
        url: "#contact",
    },
];
</code></pre> 
                        <p>
                            데이터 파일은 <code>import { headerNav } from "@/constants/index";</code> 이렇게 연동을 하겠습니다.
                            리액트에서는 map()를 작업하여 반복적인 코드를 실행했지만, 
                            뷰는 for문을 써서 HTML 코드에 바로 작업할 수 있습니다.
                            문법은 처음이지만 리액트를 했다면 어떤 원리인지 이해할 수 있습니다.
                        </p>
<pre><code class="language-js">&lt;script setup&gt;
import { headerNav } from "@/constants/index";
&lt;/script&gt;

&lt;template&gt;
    &lt;header id="header" role="heading"&gt;
        &lt;div class="header__inner"&gt;
            &lt;div class="header__logo"&gt;
                &lt;a href="#"&gt;portfolio&lt;em&gt;vue.js&lt;/em&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;nav class="header__nav" role="navigation" aria-label="메인 메뉴"&gt;
                &lt;ul&gt;
                    &lt;li v-for="(nav, key) in headerNav" :key="key"&gt;
                        &lt;a :href="nav.url"&gt;{{ nav.title }}&lt;/a&gt;
                    &lt;/li&gt; 
                &lt;/ul&gt; 
            &lt;/nav&gt;
            &lt;div class="header__nav__mobile" id="headerToggle" aria-controls="primary-menu" aria-expanded="false" role="button" tabindex="0"&gt;
                &lt;span&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/header&gt;
&lt;/template&gt;
</code></pre>
                    </div>

                    <div id="v34" class="mt80">
                        <h4>3_4. 헤더 토글 메뉴 작업하기</h4>
                        <p>
                            반응형이 되었을 때 메뉴를 클릭하면 서브 메뉴가 나오도록 작업하겠습니다. 
                            리액트에서도 작업을 했지만, 뷰에서도 원리는 동일합니다. 
                        </p>
<pre><code class="language-js">&lt;script setup&gt;
import { headerNav } from "@/constants/index";
&lt;/script&gt;

&lt;template&gt;
    &lt;header id="header" role="heading"&gt;
        &lt;div class="header__inner"&gt;
            &lt;div class="header__logo"&gt;
                &lt;a href="#"&gt;portfolio&lt;em&gt;vue.js&lt;/em&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;nav class="header__nav" role="navigation" aria-label="메인 메뉴" :class="{ show: isNavVisible }"&gt;
                &lt;ul&gt;
                    &lt;li v-for="(nav, key) in headerNav" :key="key"&gt;
                        &lt;a :href="nav.url"&gt;{{ nav.title }}&lt;/a&gt;
                    &lt;/li&gt; 
                &lt;/ul&gt; 
            &lt;/nav&gt;
            &lt;div
                class="header__nav__mobile"
                id="headerToggle"
                aria-controls="primary-menu"
                :aria-expanded="isNavVisible.toString()"
                @click="toggleMobileMenu"
            &gt;
                &lt;span&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/header&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
    data() {
        return {
            isNavVisible: false,
        };
    },
    methods: {
        toggleMobileMenu() {
            this.isNavVisible = !this.isNavVisible;
        },
    },
};
&lt;/script&gt;
</code></pre>

                        <div class="sampleBasic">
                            <ul class="list">
                                <li>:class="{ show: isNavVisible }" : isNavVisible 데이터의 값에 따라 클래스 바인딩을 수행합니다. isNavVisible 값이 true일 때 show 클래스가 추가되어 메뉴가 표시되도록 합니다.</li>
                                <li>:aria-expanded="isNavVisible.toString()" : aria-expanded 속성을 isNavVisible의 불리언 값으로 바인딩하여 스크린 리더 사용자에게 메뉴의 펼침 여부를 알려줍니다.</li>
                                <li>@click="toggleMobileMenu" : 토글 메뉴 아이콘을 클릭했을 때 toggleMobileMenu 메서드를 호출합니다.</li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h3>3. 마무리</h3>
                        <p>
                            익숙해질려고 하는데 다시 어렵나요? 
                            아직 토글 메뉴에 대한 적용방법이 완전하게 익혀지지 않아서 그렇습니다. 
                            하지만 괜찮습니다. 
                            또 연습하고 만들어보면 됩니다. 
                            그럼 오늘도 수고하셨습니다. 😎
                        </p>
                    </div>

                    <hr>

                    <div class="right_refer">
                        <a href="https://port2023-vue.netlify.app/" target="_blank" class="sampleBtn">완성 화면</a>
                        <a href="https://github.com/webstoryboy/port2023-vue" target="_blank" class="sampleBtn">소스 보기</a>
                        <a href="https://www.youtube.com/webstoryboy" target="_blank" class="sampleBtn">유튜브</a>
                    </div>

                    <h3>예제 목록</h3>
                    <ul class="refer5">
                        <li><a href="https://webstoryboy.co.kr/1944">1. 포트폴리오 사이트 만들기 : Vue-Site : 셋팅하기</a></li>
                        <li><a href="https://webstoryboy.co.kr/1945">2. 포트폴리오 사이트 만들기 : Vue-Site : 레이아웃</a></li>
                        <li><a href="https://webstoryboy.co.kr/1946">3. 포트폴리오 사이트 만들기 : Vue-Site : 헤더 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1947">4. 포트폴리오 사이트 만들기 : Vue-Site : 인트로 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1948">5. 포트폴리오 사이트 만들기 : Vue-Site : 스킬 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1949">6. 포트폴리오 사이트 만들기 : Vue-Site : 사이트 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1950">7. 포트폴리오 사이트 만들기 : Vue-Site : 포트폴리오 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1951">8. 포트폴리오 사이트 만들기 : Vue-Site : 연락처 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1952">9. 포트폴리오 사이트 만들기 : Vue-Site : 푸터 영역</a></li>
                        <li><a href="https://webstoryboy.co.kr/1953">10. 포트폴리오 사이트 만들기 : Vue-Site : 마무리</a></li>
                    </ul>
                </div>
                <!-- //blog__contents -->

                <aside class="blog__aside">
                    <button class="blog__aside__btn"><span></span></button>
                    <div class="blog__aside__chapter">
                    </div>
                </aside>
            </div>
        </section>
        <!-- //blog -->
    </main>
    <!-- //main -->

    <footer id="footer">

    </footer>
    <!-- //footer -->

    <script src="../../assets/js/jquery-3.6.0.js"></script>
    <script src="../../assets/js/jquery-ui.js"></script>
    <script src="../../assets/js/highlight.min.js"></script>
    <script src="../../assets/js/webs.js"></script>
</body>
</html>

