#nav {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 57px;
  height: 57px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000;
  transition: all ease 0.3s;
  transform: scale(1) rotate(0deg);

  &:hover  {
    transform: scale(0.8) rotate(360deg);
  }

  span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
  }

  span:nth-child(1) {
    top: 19px;
    left: 19px;
  }

  span:nth-child(2) {
    top: 19px;
    right: 19px;
  }

  span:nth-child(3) {
    bottom: 19px;
    left: 19px;
  }

  span:nth-child(4) {
    bottom: 19px;
    right: 19px;
  }
}

@media (max-width: 450px){
  #nav {
    right: 20px;
    top: 20px;
    width: 37px;
    height: 37px;

    span {
      width: 5px;
      height: 5px;
    }
  }
}