*,
*::before,
*::after {
  box-sizing: border-box;
}

//apple 가로화면시 폰트 확장 방지
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// 공백초기화
body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

// 링크초기화
a {
  text-decoration: none;
  color: #333;
}

// 목록초기화
li,
ol,
ul {
  list-style: none;
}

// 제목초기화
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
}

em,
address {
  font-style: normal;
}

// 미디어초기화
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}
img,
fieldset,
button {
  border: 0;
}

body,
input,
textarea,
select,
button,
table {
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  font-family: "PP Mori", BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
  font-weight: 500;
  letter-spacing: -0.4px;
}
