@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// PP Mori
@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-Extralight.woff2") format("woff2"),
    local("./fonts/PPMori-Extralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-RegularItalic.woff2") format("woff2"),
    local("./fonts/PPMori-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-SemiBold.woff2") format("woff2"),
    local("./fonts/PPMori-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-Regular.woff2") format("woff2"),
    local("./fonts/PPMori-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-SemiBoldItalic.woff2") format("woff2"),
    local("./fonts/PPMori-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: local("./fonts/PPMori-ExtralightItalic.woff2") format("woff2"),
    local("./fonts/PPMori-ExtralightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// NanumSquareNeo
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf")
      format("truetype");
  font-display: swap;
}

// ChosunNm
@font-face {
  font-family: "ChosunNm";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.ttf")
      format("truetype");
  font-display: swap;
}

.nanum {
  font-family: "NanumSquareNeo";
}
.chosun {
  font-family: "ChosunNm";
}
