#section02 {
    width: 100vw;
    height: 200vh;
    padding: 30% 3% 20%;
    
    .sec02__sticker {
      position: relative;
      .s1 {
        position: absolute;
        left: -10vw;
        top: -15vw;
        width: 20vw;
        
      }
      .s2 { 
        position: absolute;
        left: 50vw;
        top: -15vw;
        width: 12vw;
      }
    }
    .sec02__text {
        position: relative;
        z-index: 100;
        font-size: 8vw;
        font-weight: 700;
        line-height: 0.95;
        color: var(--color__blue);
        text-align: right;
    }
    .sec02__image {
      position: relative;
      z-index: 1;
      top: 5vw;
      .i1 {
        position: absolute;
        left: 16vw;
        top: -10.5vw;
        width: 23vw;
      }
      .i2 {
        position: absolute;
        left: 8.85vw;
        top: -17.19vw;
        width: 37vw;
      }
      .i3 {
        position: absolute;
        left: 6.77vw;
        top: -8.33vw;
        width: 27.3vw;
      }
      &::before {
        position: absolute;
        content: '';
        left: 7.81vw;
        top: -18.23vw;
        width: 39vw;
        height: 39vw;
        border-radius: 50%;
        background-color: var(--color__red);
      }
    }
}
@media (max-width: 800px){
  #section02 {
    width: 100vw;
    height: 80vh;
    padding: 30% 5%;
    
    .sec02__sticker {
      display: none;
    }
    .sec02__text {
        position: relative;
        z-index: 100;
        font-size: 8vw;
        font-weight: 700;
        line-height: 0.95;
        color: var(--color__blue);
        text-align: right;
    }
    .sec02__image {
      position: relative;
      z-index: 1;
      top: 5vw;
      .i1 {
        position: absolute;
        left: 16vw;
        top: -10.5vw;
        width: 23vw;
      }
      .i2 {
        position: absolute;
        left: 8.85vw;
        top: -17.19vw;
        width: 37vw;
      }
      .i3 {
        position: absolute;
        left: 6.77vw;
        top: -8.33vw;
        width: 27.3vw;
      }
      &::before {
        position: absolute;
        content: '';
        left: 7.81vw;
        top: -18.23vw;
        width: 39vw;
        height: 39vw;
        border-radius: 50%;
        background-color: var(--color__red);
      }
    }
}
}